<img id="intro" src="../images/intro.jpg" alt="" />

<div class="text-center">
  <h1>Fight for a Cause! Heroes Unite!</h1>

  <a href="/squads">View Squad List</a>
  <br>
  <a href="/heroes">View Hero List</a>
  <br>
  <a href="/squads/new">Add a New Squad</a>
  <br>
  <a href="/heroes/new">Add a New Hero</a>
</div>
