<h1>Add a squad!</h1>

<form action="/squads" method="post">
  <div class="form-group">
    <label for="squadName">Squad name</label>
    <input id="squadName" name="squadName" type="text" class="form-control">

    <label for="cause">What cause are they fighting for:</label>
    <input id="cause" name="cause" type="text" class="form-control">

  </div>
  <button type="submit" class="btn btn-success">Add Artist</button>
</form>
